################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/carzone/__pycache__
/pages/__pycache__
pages/migrations/__pycache__/__init__.cpython-310.pyc
static/admin/js/vendor/xregexp/xregexp.js
/carzone/static/js/*
cars/__pycache__
cars/migrations/__pycache__
